<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCGen | Signup</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>Signup</h3>
            <form action="{% url 'accounts:init_register' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="fullname" id="fullname" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password" required>
                </div>
                <button class="btn-success" type="submit">Signup</button>
                <p>By clicking the button, you are agreeing to our <span class="text-danger">Terms and Services</span></p>
            </form>
        </div>
    </div>
</body>
</html>